.welcome{
    color: white;
    background-color: rgb(44, 44, 44);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1rem;

    &_image{
        width: 10rem;
        margin: 1rem 0 ;
    }

    &_header{
        margin: 1rem 0;
    }
    &_description{
        margin-bottom: 1rem;
    }
}