.login_button{
    background-color: rgb(5, 240, 37);
    width: 8rem;
    height: 2rem;
    color: white;
    border: none !important;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 50px;
    padding: 1rem 2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}